* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

#glogo {
    background: url('http://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') no-repeat;
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 109px;
}

#main-Header{
    color: #000;
    font-size: 13px;
    vertical-align: middle;
    text-align: right;
    margin-top: 1.2em;
    margin-right: 2.2em;
}

.header-link{
    font-family: arial,sans-serif;
    display: inline-block;
    vertical-align: inherit;
    padding: 0 2px;
    opacity: .75;
}

#signin{
    font-family: arial,sans-serif;
    display: inline-block;
    vertical-align: inherit;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #4285f4;
    color: #fff;
    background-color: #4285f4;
    font-weight: bold;
    opacity: 1;
}

#google-apps-icon{
    background-image: url('http://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    background-size: 528px 68px;
    vertical-align: inherit;
    display: inline-block;
    padding: 0 2px;
}

#google-not-icon{
    background-image: url('http://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    height: 30px;
    width: 30px;
    background-size: 528px 68px;
    vertical-align: inherit;
    display: inline-block;
}

