* {
    margin: 0;
    padding: 0;
}

div.container {
    width: 100%;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #4267b2;
    clear: left;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    overflow:hidden;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    font-size: large;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}