* {
    margin: 0;
    padding: 0;
}

div.container {
    width: 100%;
}

.top {
    padding: 1em;
    color: white;
    background-color: #4267b2;
    clear: left;
    text-align: center;
}

.bottom {
    padding: 1em;
    color: white;
    background-color: #4267b2;
    clear: left;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 5%;
    overflow:hidden;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

a {
    color: black;
    font-size: large;
}

p {
    margin: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    font-size: 1.5em;
    padding: 1em;
    overflow: hidden;
}