* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

div.container {
    width: 100%;
    padding-top: 120px;
}

.top {
    padding: 0.25em;
    color: white;
    background-color: #4267b2;
    clear: left;
    text-align: center;
    position: fixed;
    min-width: 100%;
    font-size: 30px;
}

.bottom {
    padding: 1em;
    color: white;
    background-color: #4267b2;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 5%;
}

nav {
    float: left;
    width: 20%;
    margin: 0% 1%;
    position: fixed;
}

a {
    color: black;
}

a:hover {
    color: #0c157d;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

p {
    margin: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    font-size: 1.5em;
    min-height: 500px;
    margin-bottom: 1em;
}

h1 {
    margin-bottom: 0.5em;
}

#articles {
    float: right;
    width: 78%;
}
